
.icon-donation:before { content: '\e800'; } /* '' */
.icon-drawing:before { content: '\e801'; } /* '' */
.icon-facebook-logo:before { content: '\e802'; } /* '' */
.icon-home-icon-silhouette:before { content: '\e803'; } /* '' */
.icon-instagram-logo:before { content: '\e804'; } /* '' */
.icon-italy:before { content: '\e805'; } /* '' */
.icon-mic:before { content: '\e806'; } /* '' */
.icon-pencil-edit-button:before { content: '\e807'; } /* '' */
.icon-play-button:before { content: '\e808'; } /* '' */
.icon-project-management:before { content: '\e809'; } /* '' */
.icon-shopping-cart-black-shape:before { content: '\e80a'; } /* '' */
.icon-story:before { content: '\e80b'; } /* '' */
.icon-toggle:before { content: '\e80c'; } /* '' */
.icon-twitter:before { content: '\e80d'; } /* '' */
.icon-writing:before { content: '\e80e'; } /* '' */
.icon-audio-speaker-on:before { content: '\e80f'; } /* '' */
.icon-calendar:before { content: '\e810'; } /* '' */