i.eci { 
display: block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
     }
     .select2-container i.eci,
     .elementor-icon-list-icon i.eci {
       display: inline-block;
     }
     .elementor-icons-manager__tab__item__icon.eci {
    font-size: 28px;
}
.elementor-icons-manager__tab-link i.eci {
    display: inline-block;
    font-size: 18px;
}
@font-face {
 font-family: 'fontello-2eb2fd20';
  src: url('fontello-2eb2fd20.zip/fontello-2eb2fd20/font/fontello.eot?1108081518');
  src: url('fontello-2eb2fd20.zip/fontello-2eb2fd20/font/fontello.eot?1108081518#iefix') format('embedded-opentype'),
       url('fontello-2eb2fd20.zip/fontello-2eb2fd20/font/fontello.woff2?1108081518') format('woff2'),
       url('fontello-2eb2fd20.zip/fontello-2eb2fd20/font/fontello.woff?1108081518') format('woff'),
       url('fontello-2eb2fd20.zip/fontello-2eb2fd20/font/fontello.ttf?1108081518') format('truetype'),
       url('fontello-2eb2fd20.zip/fontello-2eb2fd20/font/fontello.svg?1108081518#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
.eci.fontello-2eb2fd20-donation::before { content: '\e800'; font-family: 'fontello-2eb2fd20'; }
.eci.fontello-2eb2fd20-drawing::before { content: '\e801'; font-family: 'fontello-2eb2fd20'; }
.eci.fontello-2eb2fd20-facebook-logo::before { content: '\e802'; font-family: 'fontello-2eb2fd20'; }
.eci.fontello-2eb2fd20-home-icon-silhouette::before { content: '\e803'; font-family: 'fontello-2eb2fd20'; }
.eci.fontello-2eb2fd20-instagram-logo::before { content: '\e804'; font-family: 'fontello-2eb2fd20'; }
.eci.fontello-2eb2fd20-italy::before { content: '\e805'; font-family: 'fontello-2eb2fd20'; }
.eci.fontello-2eb2fd20-mic::before { content: '\e806'; font-family: 'fontello-2eb2fd20'; }
.eci.fontello-2eb2fd20-pencil-edit-button::before { content: '\e807'; font-family: 'fontello-2eb2fd20'; }
.eci.fontello-2eb2fd20-play-button::before { content: '\e808'; font-family: 'fontello-2eb2fd20'; }
.eci.fontello-2eb2fd20-project-management::before { content: '\e809'; font-family: 'fontello-2eb2fd20'; }
.eci.fontello-2eb2fd20-shopping-cart-black-shape::before { content: '\e80a'; font-family: 'fontello-2eb2fd20'; }
.eci.fontello-2eb2fd20-story::before { content: '\e80b'; font-family: 'fontello-2eb2fd20'; }
.eci.fontello-2eb2fd20-toggle::before { content: '\e80c'; font-family: 'fontello-2eb2fd20'; }
.eci.fontello-2eb2fd20-twitter::before { content: '\e80d'; font-family: 'fontello-2eb2fd20'; }
.eci.fontello-2eb2fd20-writing::before { content: '\e80e'; font-family: 'fontello-2eb2fd20'; }
.eci.fontello-2eb2fd20-audio-speaker-on::before { content: '\e80f'; font-family: 'fontello-2eb2fd20'; }
.eci.fontello-2eb2fd20-calendar::before { content: '\e810'; font-family: 'fontello-2eb2fd20'; }


